<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
  <style>
        body {
            background-color: rgb(14, 14, 1);
            color: white;
            font-size: 20px;
            line-height: 1.5rem;
        }
        .head {
            
            width: 100%;
            flex-direction: column;
            color: white;
            padding-top: 20px;
        }
        a {
          text-decoration: none;
          color: black;
        }
        .center {
           height: 100px;
           width: 400px;
        }
        .verify-button {
          height: 50px;
          background-color: rgb(214, 191, 124);
          color: black;
          text-align: center;
          border-radius: 5px;
          border: 1px solid white;
          font-size: 2rem;
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .line  {
          color: white;
          width: 100%;
          font-weight: bold;
        }
        .intro {
          padding: 10px;
          box-shadow: 2;
          min-height: 70vh;
        }
        footer {
          min-height: 10vh;
          display: flex;
          justify-content: center;
          align-items: flex-end;
        }
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
  </style>
</head>
<body>
  
    <h1 class="center">Verify your Email</h1>
    <hr />

    <div class="intro">
      <br> <h1 >Hello Dear, {{name}} sends you a file</h1>
         <h3>File Description</h3>
          {{desc}}
          <h2>Please below is your verification code: </h2> <br />
          <br />
    </div>
    
</body>
</html> 